*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 40px 100px;
	z-index: 100;
}
header .logo{
	font-size: 40px;
	font-weight: 600;
	color: #fff;
}
header .logo span{
	font-size: 40px;
	color: tomato;
}

header .nav{
	position: relative;
	display: flex;
	list-style-type: none;

}
header .nav a{
	position: relative;
	padding: 0px 10px;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	/*margin-right: 20px;*/
}
header.sticky{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
header.sticky .logo{
	color: #111;
	}
header.sticky .nav a{
	color: #111;
}
header .nav a:hover{
	color: tomato;
}
body{
	min-height:1000px;
}
.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url('../img/food.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner .text{
	padding: 100px;
	/*max-width: 800px;*/
	text-align: center;
}
.banner .text h2{
	font-size: 50px;
	color: #fff;
	padding-bottom: 20px;
}
.banner .text p{
	font-size: 25px;
	color: #fff;
}
.banner .text button{
	font-size: 16px;
	margin-top: 40px;
	padding: 15px;
	border: none;
	background-color: tomato;
	transition: 0.5s;
}
.banner .text button a{
	text-decoration: none;
	color: #fff;
}
.banner .text button:hover{
   letter-spacing: 2px;
}
.about{
	position: relative;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	
}
.about .content{
	width: 100%;
	/*height: 450px;*/
	display: flex;
	/*text-align: left;*/
	/*background: #12222d;*/
	padding: 20px;
}
.about .content .text 
{
	width: 50%;
	padding: 40px;
	padding-top: 60px;
}
.about .content .text h2{
	font-size: 40px;
	font-weight: 600;
}
.about .content h2 span{
	color: orange;
}
.about .content .text p{
	font-size: 18px;
	/*color: #fff;*/
}
.about .content .imgBx{
  width: 50%;
  height: 400px;
  overflow: hidden;
  /*background: url(../img/menu1.jpg);*/
  padding:40px;
  	padding-top: 60px;
  /*background-repeat: no-repeat;*/
   background-size: cover;
  background-position: center;
 

}
.about .content .imgBx img{
	object-fit: cover;
}


.menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background:  #fff;
	/*border-bottom: 1px solid red;*/
	/*box-sizing: border-box;*/
}
.menu .title{
  width: 100%;
  text-align: center;
  padding-top: 60px;
  /*margin-top: 20px;*/
 
}

.menu .title h2{
	font-size: 40px;
	 font-weight: 600;
	 padding: 10px 0;

}
.menu .title h2 span{
	color: red;
}
.menu .title p{
	font-size: 20px;
	font-weight: 300;
}
.menu .content{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 100px;
}
.menu .content .box{
	position: relative;
	width: 300px;
	height: 320px;
	background: #fff;
	box-shadow: 5px 5px 5px #000;
	margin: 10px 20px;
	padding: 10px 20px;
	cursor: pointer;
	
}
.menu .content .box .imgbox{
	display: flex;
	justify-content: center;
	align-items: center;

}
.menu .content .box .imgbox image{
	object-fit: cover;
}
.menu .content .box p{
	/*color: #fff;*/
	font-size: 20px;
	padding: 10px 0;
	text-align: center;
}
.menu button{
	padding: 10px;
	margin-bottom: 20px;
	background: tomato;
	border: none;
	transition: 0.5s;
}
.menu button a{
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}
.menu button:hover{
	letter-spacing: 1px;
}
.expert{
	position: relative;

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background:  #fff;
	box-sizing: border-box;
	/*border-bottom: 1px solid red;*/
}
.expert .title{
  width: 100%;
  text-align: center;
 
}

.expert .title h2{
	font-size: 40px;
	 font-weight: 600;
	 padding-top: 70px;

}
.expert .title h2 span{
	color: red;
}
.expert .title p{
	font-size: 20px;
	font-weight: 300;
}
.expert .content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px;
	padding: 20px 30px;
}
.expert .content .box{
	position: relative;
	width: 300px;
	height: 380px;
	background: #fff;
	box-shadow: 5px 5px 10px #000;
	border-radius: 5px;
	margin: 10px ;
	padding: 10px 30px;
	cursor: pointer;
	
}
.expert .content .box .imgbox{
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.expert .content .box .imgbox image{
	object-fit: cover;
}
.expert .content .box p{
	/*color: #000;*/
	font-size: 20px;
	padding: 10px 0;
	text-align: center;
}
.testimonials{
	position: relative;
	width: 100%;
	/*display: flex;*/
	/*justify-content: center;
	align-items: center;*/
}
.testimonials .title{
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 60px;
}
.testimonials .title h2{
	font-size: 30px;
	font-weight: 600;
	padding: 10px;
}
.testimonials .content{
	position: relative;
	width: 100%;
	padding: 10px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.testimonials .content .box{
	position: relative;

	width: 320px;
	height: 400px;
	margin: 20px;
	margin-bottom: 40px;
	background: #222;
}
.testimonials .content .box .imageBx{
	/*position: absolute;
	top: 0;
	left: 120px;*/
	width: 90px;
	height: 90px;
	
	padding: 30px 105px;

}
.testimonials .content .box .imageBx img
{
	object-fit: cover;
	border-radius: 50%;

}
.testimonials .content .box p{
	font-size: 18px;
	color: #fff;
	padding: 40px 20px;

}
.contact{
	position: relative;
	width: 100%;
	height: calc(100vh - 20px);
	overflow: hidden;
	display: flex;
	background: #12222d;
}
.contact .content{
	position: relative;
	width: 50%;
	/*background: url(../img/red.jpg);*/
	/*border: 1px solid red;*/
	padding: 100px;
	/*padding-top: */
}
.contact .content form{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .content form input{
	width: 400px;
	height: 40px;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;
	background: transparent;
}
.contact .content form input::placeholder{
	color: #fff;
	font-size: 16px;
	/*font-weight: 400;*/
	text-align: left;
}
.contact .content form textarea{
	width: 400px;
	height: 80px;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;
	background: transparent;
}
.contact .content form textarea::placeholder{
	color: #fff;
	font-size: 16px;
	/*font-weight: 400;*/
}

.contact .content form input[type="submit"]{
   width: 80px;
   height: 30px;
   color: #fff;
   border: none;
   margin-left: -315px;
   background: tomato;
   cursor: pointer;

}
.contactBx{
	position: relative;
	width: 50%;
	padding: 100px;
	display: flex;
	/*justify-content:center;*/
	/*align-items: center;*/
	flex-direction: column;
}
.contactBx h2{
	font-size: 30px;
	font-weight: 600px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	margin-top: -40px;
}
.contactBx .contactmd{
	/*position: relative;*/
	display: flex;
	justify-content:center;
	align-items: center;
	padding-top: 40px;
}

.contactBx .contactmd ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;



}
.contactBx .contactmd ul li{
	padding: 10px;
	list-style-type: none;
	opacity: 0.5;

}
.contactBx .contactmd ul li:hover{
	opacity: 1;
}
.contactBx .contactmd ul li img{
	width: 200px;
}
footer{
	width: 100%;
}

@media(max-width: 720px){
   header{
   	padding: 20px 50px;
   }
}
@media(max-width: 1150px){
	.about{
		flex-direction: column;
	}
}